<!DOCTYPE HTML>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>File upload demo</title>
</head>

<body>
    <!-- This part is for error messages "flashed" by flask -->
    {% for message in get_flashed_messages() %}
    <p><strong>{{ message }}</strong></p>
    {% endfor %}

    <h1>Here is the form.</h1>
    <form id="upload_demo" method="POST" action="_upload"
         enctype="multipart/form-data">
      <label for="the_file">Upload a file:</label>
      <input id="the_file" type=file name=file>
      <input type="submit" value="Submit" />
    </form>

</body>
</html>
